elevenlabs==0.2.12
langchain==0.0.167
nextcord==2.4.2
openai==0.27.6
PyDrive==1.3.1
pydub==0.25.1
python-dotenv==1.0.0
pytube==15.0.0
Requests==2.30.0
wolframalpha~=5.0.0
Wave~=0.0.2
wikipedia~=1.4.0
websocket-client~=1.5.1
rel~=0.4.8
websockets~=11.0.3
asyncio~=3.4.3
spotipy~=2.23.0
duckduckgo-search==2.9.5
arxiv
google-cloud-language
pdfminer.six
cffi
steamship
